@using Syncfusion.JavaScript.Models;
@model IEnumerable<AppName.Web.ViewModels.Products.ProductViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@(Html.EJ().Grid<AppName.Web.ViewModels.Products.ProductViewModel>("grid")

    .Datasource(ds => ds.URL(Url.Action("DataSource")).Adaptor(AdaptorType.UrlAdaptor))
    .AllowSorting()
    .AllowGrouping()
    .AllowFiltering()
    .SortSettings(sort => sort.SortedColumns(col => col.Field("Name").Direction(SortOrder.Ascending).Add()))
    .AllowPaging()
    .PageSettings(new PageSettings()
    {
        PageSize = 10
    })
    .Columns(col =>
    {
        col.Field(m => m.Id).Visible(false).Add();
        col.Field(m => m.Name).Add();
        col.Field(m => m.Price).Add();
        col.Field(m => m.Category).Add();
    })
    )
