/*
This is an example of how to use the image sprite in your own CSS files
*/
.mysprite {
	background-image: url('mysprite.sprite.png');
	background-repeat: no-repeat;
	display: inline-block;
}
.mysprite.kursvisualstudioorazkonkrus-social {
	width: 1200px;
	height: 630px;
	background-position: -10px -10px;
}
.mysprite.kursvisualstudioorazkonkrus {
	width: 1200px;
	height: 1200px;
	background-position: -10px -650px;
}
